<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Filtre</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Filtrer par dépatement</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option ng-repeat="dep in $ctrl.dep track by $index" >{{dep.nom}}</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Rechercher par nom</label>
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">

  </div>
</div>

</fieldset>
</form>

